<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profilesekolah.smpn6tegal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosmp6"
        android:label="SMPN 6 TEGAL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProfileSekolahSMPN6TEGAL">
        <activity android:name="com.profilesekolah.smpn6tegal.MateribkActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.ProfilgurubkActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.QurbanActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.PramukaActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.JumatsalamActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.SalamActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.AdiwiyataActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.GuruStaffdanSatpamActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.BkActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.VisidanmisiActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.GaleriActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.FasilitasActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.ProfilActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.HalamanBaruActivity" />
        <activity android:name="com.profilesekolah.smpn6tegal.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.profilesekolah.smpn6tegal.MainActivity" />
    </application>

</manifest>