<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profilesekolahsmpn6tegal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosmp6"
        android:label="SMPN 6 TEGAL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProfileSekolahSMPN6TEGAL">
        <activity android:name=".JadwalActivity"></activity>
        <activity android:name=".GuruStaffdanSatpamActivity" />
        <activity android:name=".BkActivity" />
        <activity android:name=".SilatActivity" />
        <activity android:name=".MarchingbandActivity" />
        <activity android:name=".BasketActivity" />
        <activity android:name=".VollyActivity" />
        <activity android:name=".FutsalActivity" />
        <activity android:name=".VisidanmisiActivity" />
        <activity android:name=".EkstrakulikulerActivity" />
        <activity android:name=".GaleriActivity" />
        <activity android:name=".PrestasiActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".HalamanBaruActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>