<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profilesekolahsmpn6tegal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosmp6"
        android:label="SMPN 6 TEGAL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProfileSekolahSMPN6TEGAL">
        <activity android:name=".MateribkActivity" />
        <activity android:name=".ProfilgurubkActivity" />
        <activity android:name=".QurbanActivity" />
        <activity android:name=".PramukaActivity" />
        <activity android:name=".JumatsalamActivity" />
        <activity android:name=".SalamActivity" />
        <activity android:name=".AdiwiyataActivity" />
        <activity android:name=".GuruStaffdanSatpamActivity" />
        <activity android:name=".BkActivity" />
        <activity android:name=".VisidanmisiActivity" />
        <activity android:name=".GaleriActivity" />
        <activity android:name=".FasilitasActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".HalamanBaruActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>